.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid black;
  height: 300px;
  margin: 100px;
}

.profile {
  border-radius: 50%;
  width: 250px;
  margin: 50px;
}

.cards {
  padding: 30px;
  border: 1px solid black;
  height: 300px;
  margin: 100px;
}
