<div class="header">
  <div class="description">
    <div class="title">
      <h1>Software Developer</h1>
    </div>
    <div class="title2">
      <p>Hi, I am Gin Pan. A passionate Software Developer in Melbourne, Australia.</p>
    </div>
    <div class="links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

  <div class="profile-pic">
    <%= image_tag("gin1.jpg", class: "profile")  %>
  </div>
</div>

<div class="portolio">
  <div class="cards">
    <h3>Portfolio</h3>
    <div class="card">
       <h3></h3>
    </div>
  </div>
</div>
